
/* ====== RESET ====== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f6f8f6;
}

/* ====== NAVBAR ====== */
header{
    position:sticky;
    top:0;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#1b5e20;
}

nav a{
    text-decoration:none;
    margin:0 15px;
    font-weight:600;
    color:black;
}

nav a:hover{
    color:#42d411;
}

.login-btn{
    background:#42d411;
    border:none;
    padding:8px 18px;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
}